
#wrap {
    float: left;
    width: 960px;
    margin-left: 10%;
    border-bottom: 6px;
    border-color: #cccccc;
    background color: #ffffff;

}

#YourName {
    background-color: #4aaaa5;
    color: white;
    font: Serif;
    float: left;
}

#Menu {
    margin: auto;



}
.Links {
    float:right;
    color: #cccccc;
    vertical-align: middle;
    font: serif;
    font-size: 20px;

}
#BackGround {
    margin-left: 10%;
    margin-top: 10%;
    float: left;
    width: 960px;
    background-color: #ffffff;
}

#AboutMeHeader {
    border-bottom: 2px;
    border-style: solid;
}

#AboutMe {
    color:  #4aaaa5;
}

#MaxPic {
    Transform: rotate(90deg);
    height: 100px;
    float: left;
    margin-bottom: 10px;
    margin-left: 0;
}






